<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedEsent" version="1.9.2.0" targetFramework="net45" />
  <package id="Microsoft.Database.Collections.Generic" version="1.9.2.0" targetFramework="net45" />
  <package id="Microsoft.Database.Isam" version="1.9.2.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.33" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.33" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.33" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="4.0.33" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.33" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net45" />
</packages>